EMAIL_HOST = servidor
EMAIL_PORT = puerto
EMAIL_HOST_USER = correo
EMAIL_HOST_PASSWORD = correo

#EMAIL_HOST = "smtp.gmail.com"
#EMAIL_PORT = 465
#EMAIL_HOST_USER = "camilo.lam93@gmail.com"
#EMAIL_HOST_PASSWORD = "mropjecvttwlrlar"