<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="16x16 32x32 48x48" href="{{ url_for('static', path='/source/logo.png')}}">
        <title>Iterviniendo con Fé</title>

        <link rel="stylesheet" href="{{ url_for('static', path='/css/styles_thanks.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/normalize.css')}}">
        <script src="https://kit.fontawesome.com/73add5e614.js" crossorigin="anonymous"></script>
        <!-- Fuentes para el sitio web -->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Permanent+Marker&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Story+Script&display=swap" rel="stylesheet">

    </head>
    <body>
        <header class="hero">
            <div class="contenedor header_contact ">
                <p><i class="fa-solid fa-square-envelope"></i> interviniendoconfe09@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i>  (+57) 311-3730407</p>
            </div>

            <div class="header_title contenedor">
                <a href="/index"> <img src="{{ url_for('static', path='/source/logo.png')}}" alt="logo" class=""></a>
                <div class="header_title-info">
                    <h1>Gracias por comunicarte con nosotros</h1>
                    <span><p>{{name}}, hemos enviado a tu correo electrónico, la confirmación de la recepción del mensaje. A la mayor brevedad nos estaremos comunicando contigo.</p>
                    </span>
                    <div style="text-align: left; margin: 0 auto; border-radius: 1rem; border: 1px solid black; padding: 3rem; margin-bottom: 3rem;">
                        <p style="font-size: 2rem;"><b>Información recibida:</b></p>
                        <p><b>Nombre: </b> {{name}}</p>
                        <p><b>Correo Electrónico: </b> {{email}}</p>
                        <p><b>Teléfono:</b> {{ phone}}</p>
                        <p><b>Mensaje:</b> {{ message }} </p>
                    </div>
                    <a href="/index" class="header_title-btn btn_oscuro">Regresar</a>
                </div>
                

            </div>

            
        </header>

        <main>
            
        </main>
    </body>
</html>